.main{
    margin: auto ;
    width: 56%;
    background-color: silver;
    padding: 30px;
}

.cards{
    display: flex;
}

.link-container{
    margin: 10px 0px;
}

.photo1{
    background-image: url(./images/image1.png);
    width: 150px;
    height: 150px;
    background-size: cover;
}

.txt1{
    font-size: 16px;
    margin-top: 2px;
}

.but{
    color: white;
    background-color: #ffc701;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.card-1 , .card-2, .card-3, .card-4{
    width: 25%;
}

.photo2{
    background-image: url(./images/image2.png);
    width: 150px;
    height: 150px;
    background-size: cover;
}

.txt2{
    font-size: 15.5px;
    margin-top: 2px;
}

.photo3{
    background-image: url(./images/image3.png);
    width: 150px;
    height: 150px;
    background-size: cover;
}

.txt3{
    font-size: 16px;
    margin-top: 2px;
    color: #8a7d4b;
}



.photo4{
    background-image: url(./images/image4.png);
    width: 150px;
    height: 150px;
    background-size: cover;
}

.txt4{
    font-size: 16px;
    margin-top: 2px;
}

a{
    text-decoration: none;
    color: white;
}