.margin{
    margin: auto;
    width: 60%;
}

.a1{
    margin-top: 10px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    border: none;
    background: none;
}

.photo1{
    background-image: url(./images/image-1.jpg) ;
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

.categories{
    font-size: 30px;
}

.photo2{
    background-image: url(./images/image-2.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    margin-top: 80px;
}

.photo3{
    background-image: url(./images/image-3.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    margin-top: 80px;
}

.photo4{
    background-image: url(./images/image-1.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    margin-left: 50px;
}

.photos{
    display: flex;

}